<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      <a href="{{ "/" | relative_url }}">
        <h1>
          <span>Yu-Cheng</span> Qiu
        </h1>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">
    
    
      <!-- Nav pages -->
      
	    {% for page in site.pages %}
	      {% if page.layout == "page" %}
	        {% assign nav_url = page.url %}
	        {% unless nav_url contains '.html' %}
	          {% assign nav_url = nav_url | append: '.html' %}
	        {% endunless %}
	        <a href="{{ nav_url | relative_url }}" title="{{ page.title }}">{{ page.title }}</a>
	      {% endif %}
	    {% endfor %}
	    
	    
      
      <!-- Nav links -->
	    {% include link.html %}

    </span>
  </div>
</header>

